input:-internal-autofill-selected {
  background-color: rgb(238, 158, 10) !important;
}
//anim for button  start ****

.lds-ring {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.lds-ring.block {
  display: none;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 1px;
  border: 1px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//anim for button  end ****

.footer {
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.13);
  color: $color-dark;
  display: flex;
  color: $color-light;
  &__filter {
    @include bc-fone;
  }
  &__cont {
    order: 1;
    width: 100%;
    height: 100%;
    max-width: $max-width;
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 100px var(--padding) 30px;
    flex-direction: column;
    & > p.rights {
      display: flex;
      justify-content: center;
      margin: 40px 0 10px;
      font-size: 1.3rem;
      color: $color-light-grey;
    }
  }
  &__title {
    font-size: 2rem;
    font-weight: 400;
    color: $color-light;
    margin-bottom: 70px;
  }
  &__body {
    display: flex;
    justify-content: flex-start;
  }
  &__contacts {
    width: 200px;
    display: flex;
    flex-direction: column;
    & > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      & > .field {
        margin: 10px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .field__title {
          font-weight: 600;
          color: $color-light;
        }
        .field__content {
          font-weight: 300;
          color: $color-light;
        }
      }
    }

    & .social {
      margin-top: 20px;
      width: 100%;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      & > a {
        cursor: pointer;
        margin: 10px 0;
        position: relative;
        list-style-type: none;
        font-size: 14px;
        line-height: 20px;
        font-family: $ff;
        font-weight: 700;
        color: $color-light;
      }
      & > a:hover {
        color: $color-light-hover;
      }
      & > a:active {
        color: $color-light-active;
      }
      & > a:hover::after {
        position: absolute;
        content: "_";
        display: flex;
        right: -10px;
        top: 0;
        color: $color-light-hover;
      }
      & > a:active::after {
        position: absolute;
        content: "_";
        display: flex;
        right: -10px;
        top: 0;
        color: $color-light-active;
      }
    }
  }

  &__form {
    position: relative;
    order: 2;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    padding: 0px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    & h4 {
      font-size: 1.3rem;
      line-height: 24px;
      font-weight: 300;
    }
    & input {
      margin-top: 20px;
      width: 100%;
      background-color: transparent;
      border-radius: 3px;
      border: 1px solid #fff;
      padding: 10px;
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      box-sizing: border-box;
      &:focus {
        box-shadow: inset 0 0 5px 0 #fff;
        border: 1px solid #fff;
      }
    }
    & input.error:-internal-autofill-selected {
      background-color: rgba(255, 0, 0, 0.356);
    }
    & input.success:-internal-autofill-selected {
      background-color: transparent;
    }
    & input.error {
      background-color: rgba(255, 0, 0, 0.356);
    }
    & input.success {
      background-color: transparent;
    }
    & textarea {
      width: 100%;
      margin-top: 20px;
      background-color: transparent;
      border-radius: 3px;
      border: 1px solid #fff;
      padding: 10px;
      height: 115px;
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      box-sizing: border-box;
      &:focus {
        box-shadow: inset 0 0 5px 0 #fff;
        border: 1px solid #fff;
      }
    }
    & textarea.error {
      background: rgba(255, 0, 0, 0.356) !important;
    }
    & textarea.success {
      background: transparent !important;
    }
    & .sendMessage {
      width: 100%;
      margin-top: 20px;
      background-color: transparent;
      border-radius: 30px;
      border: 1px solid #fff;
      padding: 10px;
      height: 60px;
      display: flex;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      outline: none;
      @include bc-fone-rev;
      &:hover {
        border-color: gray;
      }
      &:active {
        transform: scale(0.99);
      }
      & > span {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        display: flex;
      }
      & > span.block {
        display: none;
      }
    }
    & > .errorMessage {
      color: rgba(255, 0, 0, 0.561);
      font-style: italic;
      margin-top: 10px;
      margin-left: 5px;
    }
    & > .errorMessage.block {
      display: none;
    }
    & .sendMessage.block {
      cursor: not-allowed;
      color: rgb(197, 197, 197);
      border-color: rgb(197, 197, 197);
      @include bc-fone-rev-off;
      &:hover {
        border-color: rgb(197, 197, 197);
      }
      &:active {
        transform: scale(1);
      }
    }
  }
  &__form-success,
  &__form-error {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50%;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 250;
    opacity: 1;
    transition: opacity 0.3s;
    background-color: rgba(27, 183, 245, 0.698);
  }
  &__form-error {
    background-color: rgba(245, 27, 27, 0.698);
  }
  &__form-success.block,
  &__form-error.block {
    opacity: 0;
  }
}

@include mq(800px, max) {
  .footer {
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.13);
    color: $color-dark;
    display: flex;
    color: $color-light;
    &__filter {
      @include bc-fone;
    }
    &__cont {
      width: 100%;
      height: 100%;
      max-width: $max-width;
      display: flex;
      margin: 0 auto;
      justify-content: flex-start;
      box-sizing: border-box;
      padding: 50px var(--padding) 30px;
      flex-direction: column;
      & > p.rights {
        display: flex;
        justify-content: flex-start;
        margin: 40px 0 10px;
        font-size: 1rem;
        color: $color-light-grey;
      }
    }
    &__title {
      font-size: 2rem;
      font-weight: 400;
      color: $color-light;
      margin-bottom: 40px;
    }
    &__body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &__contacts {
      margin-top: 30px;
      order: 2;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      & > div {
        display: flex;
        flex-direction: column;
        & > .field {
          margin: 10px 0;
          width: 100%;
          display: flex;
          justify-content: start;
          .field__title {
            display: flex;
            min-width: 100px;
            font-weight: 600;
            color: $color-light;
          }
          .field__content {
            font-weight: 300;
            color: $color-light;
          }
        }
      }
      & > .social {
        margin-top: 0px;
        padding-left: 10px;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        & > a {
          cursor: pointer;
          margin: 10px 0;
          position: relative;
          list-style-type: none;
          font-size: 14px;
          line-height: 20px;
          font-family: $ff;
          font-weight: 700;
          color: $color-light;
        }
        & > a:hover {
          color: $color-light-hover;
        }
        & > a:active {
          color: $color-light-active;
        }
        & > a:hover::after {
          position: absolute;
          content: "_";
          display: flex;
          right: -10px;
          top: 0;
          color: $color-light-hover;
        }
        & > a:active::after {
          position: absolute;
          content: "_";
          display: flex;
          right: -10px;
          top: 0;
          color: $color-light-active;
        }
      }
    }
    &__form {
      order: 1;
      display: flex;
      flex-direction: column;
      margin-left: 0;
      padding: 0px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      & h4 {
        font-size: 1.3rem;
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 20px;
      }
      & input {
        margin-bottom: 20px;
        width: 100%;
        background-color: transparent;
        border-radius: 3px;
        border: 1px solid #fff;
        padding: 10px;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        box-sizing: border-box;
        &:focus {
          box-shadow: inset 0 0 5px 0 #fff;
          border: 1px solid #fff;
        }
      }
      & textarea {
        width: 100%;
        background-color: transparent;
        border-radius: 3px;
        border: 1px solid #fff;
        padding: 10px;
        height: 115px;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        box-sizing: border-box;
        &:focus {
          box-shadow: inset 0 0 5px 0 #fff;
          border: 1px solid #fff;
        }
      }
      & .sendMessage {
        width: 100%;
        margin-top: 20px;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid #fff;
        padding: 10px;
        height: 60px;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        outline: none;
        text-transform: uppercase;
        @include bc-fone-rev;
        &:hover {
          border-color: gray;
        }
        &:active {
          transform: scale(0.99);
        }
      }
    }
  }
}
