.header {
  width: 100%;
  position: fixed;
  color: $color-light;
  transition: background-color 0.7s;
  z-index: 200;
  box-sizing: border-box;
  align-items: center;

  &.active {
    background-color: rgb(26, 25, 25);
    position: fixed;
    color: $color-dark;
    -webkit-box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 0.75);
  }
  &__cont {
    min-height: 75px;
    width: 100%;
    max-width: $max-width;
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 25px var(--padding) 10px;
    align-items: center;
  }
  &__cont.active {
    padding: 10px var(--padding) 10px;
  }
  &__nav {
    order: 1;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-around;
    & > div.on-of {
      display: none;
      & > i {
        font-size: 2rem;
        color: $color-theme;
      }
    }
    & > div.on-of.of {
      display: flex;
    }
    & > div.menu {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      & > a {
        @include firstLetter($text-size: 1.2rem, $color: $color-bright);
        cursor: pointer;
        margin-right: 20px;
        position: relative;
        list-style-type: none;
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        line-height: 20px;
        font-family: $ff;
        font-weight: 500;
        border-bottom: 1px solid transparent;
        letter-spacing: 1.1px;
        text-decoration: none;
        color: $color-light;
        padding: 5px;
      }
      & > a:hover {
        color: $color-light-hover;
        border-bottom: 1px solid $color-theme;
      }
      & > a:active {
        color: $color-light-active;
      }

      & > a.active {
        cursor: pointer;
        position: relative;
        list-style-type: none;
        font-size: 1.1rem;
        line-height: 20px;
        font-family: $ff;
        font-weight: 500;
        letter-spacing: 1.1px;
        color: $color-light-hover;
      }
      & > a.active:hover {
        color: $color-light-hover;
      }
      & > a.active:active {
        color: $color-light-active;
      }
    }
  }

  &__login {
    order: 3;
    display: flex;
    & > a {
      text-decoration: none;
      @include firstLetter($text-size: 1.2rem, $color: $color-bright);
      cursor: pointer;
      font-size: 1.1rem;
      position: relative;
      list-style-type: none;
      letter-spacing: 0.3px;
      line-height: 20px;
      font-family: $ff;
      font-weight: 700;
      color: $color-light;
      text-transform: uppercase;
      border-bottom: 1px solid transparent;
    }
    & > a:hover {
      color: $color-light-hover;
      border-bottom: 1px solid $color-theme;
    }
    & > a:active {
      color: $color-light-active;
    }
    & > a.hide {
      display: none;
    }
  }
}

@include mq($hover-off, max) {
  .header {
    &__nav {
      & > div.menu {
        & > a {
          color: $color-light;
        }
        & > a:hover {
          color: $color-light;
          animation: none;
        }
        & > a:active {
          color: $color-light-active;
        }

        & > a.active {
          cursor: pointer;
          position: relative;
          list-style-type: none;
          font-size: 14px;
          font-size: 1.1rem;
          line-height: 20px;
          font-family: $ff;
          font-weight: 500;
          letter-spacing: 1.1px;
          color: $color-light-hover;
        }
        & > a.active:hover {
          color: $color-light;
          animation: none;
        }
        & > a.active:active {
          color: $color-light-active;
        }
      }
    }
  }
}

@include mq(900px, max) {
  .header {
    &__cont {
      padding: 25px var(--padding) 25px;
    }
    &__cont.active {
      padding: 25px var(--padding) 25px;
    }
    &__nav {
      width: 80%;
    }

    &__login {
      order: 2;
    }
    &__search {
      margin-top: 20px;
      order: 3;
    }
  }
}
@include mq(700px, max) {
  .header {
    background-color: rgb(26, 25, 25);

    &__nav {
      width: 100%;
      position: absolute;
      padding: 20px var(--padding);
      align-items: start;
      box-sizing: border-box;
      justify-content: start;

      top: 0;
      left: 0;
      & > div.on-of {
        display: flex;
      }
      & > div.menu {
        background-color: rgb(26, 25, 25);
        top: 70px;
        left: 0;
        position: absolute;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        padding: 20px 0 0;
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: transform 0.3s;
        & > a {
          width: 100%;
          margin-right: 0px;
          display: flex;
          justify-content: center;
          padding: 10px 0;
          box-sizing: border-box;
        }

        & > a:active {
          color: $color-theme;
        }

        & > a:not(:last-child) {
          border-bottom: 1px solid $color-dark;
        }
      }
      & > div.menu.active {
        transform: scaleY(1);
      }
    }

    &__login {
      position: absolute;
      margin-top: 5px;
      top: 20px;
      right: 25px;
      order: 2;
    }
    &__search {
      width: 45%;
      margin-top: 5px;
      position: absolute;
      top: 20px;
      left: 25%;
      & > input {
        width: 100%;
      }
    }
  }
}
