@mixin mq($width, $type: min) {
  @if $type==max {
    $width: $width - 1px;
  }
  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

// pleceholder
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

// animations

$time: 0.3s;

@keyframes page-enter {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes page-leave {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100px);
  }
}

.page-leave {
  animation: page-leave $time;
}
.page-enter {
  animation: page-enter $time;
}

//shadows

@mixin grayShadow {
  & {
    -webkit-box-shadow: 0px 0px 5px 0px rgb(80, 80, 80);
    -moz-box-shadow: 0px 0px 5px 0px rgb(80, 80, 80);
    box-shadow: 0px 0px 5px 0px rgb(80, 80, 80);
  }
}
@mixin offShadow {
  & {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(80, 80, 80, 0);
    -moz-box-shadow: 0px 0px 5px 0px rgba(80, 80, 80, 0);
    box-shadow: 0px 0px 5px 0px rgba(80, 80, 80, 0);
  }
}
@mixin shadow($color: rgba(0, 0, 0, 0.75)) {
  -webkit-box-shadow: 0px 0px 5px 0px $color;
  -moz-box-shadow: 0px 0px 5px 0px $color;
  box-shadow: 0px 0px 5px 0px $color;
}
@mixin shadow-bot($color: rgba(117, 117, 117, 1)) {
  & {
    -webkit-box-shadow: 10px 10px 5px -8px $color;
    -moz-box-shadow: 10px 10px 5px -8px $color;
    box-shadow: 10px 10px 5px -8px $color;
  }
}

@mixin bc-fone {
  & {
    background: rgb(13, 11, 11);
    background: -moz-linear-gradient(90deg, rgba(13, 11, 11, 1) 0%, rgba(52, 51, 49, 1) 50%, rgba(69, 69, 69, 1) 100%);
    background: -webkit-linear-gradient(
      90deg,
      rgba(13, 11, 11, 1) 0%,
      rgba(52, 51, 49, 1) 50%,
      rgba(69, 69, 69, 1) 100%
    );
    background: linear-gradient(90deg, rgba(13, 11, 11, 1) 0%, rgba(52, 51, 49, 1) 50%, rgba(69, 69, 69, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d0b0b",endColorstr="#454545",GradientType=1);
  }
}
@mixin bc-fone-rev {
  & {
    background: rgb(52, 51, 49);
    background: -moz-linear-gradient(
      90deg,
      rgba(52, 51, 49, 1) 50%,
      rgba(13, 11, 11, 1) 100%,
      rgba(69, 69, 69, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(52, 51, 49, 1) 50%,
      rgba(13, 11, 11, 1) 100%,
      rgba(69, 69, 69, 1) 100%
    );
    background: linear-gradient(90deg, rgba(52, 51, 49, 1) 50%, rgba(13, 11, 11, 1) 100%, rgba(69, 69, 69, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#343331",endColorstr="#454545",GradientType=1);
  }
}

@mixin bc-fone-rev-off {
  & {
    background: rgb(78, 78, 78);
  }
}

@mixin textIndent($value: 40px) {
  & {
    text-indent: $value;
  }
}
@mixin firstLetter($text-size: 2.5rem, $color: $color-bright) {
  &:first-letter {
    font-size: $text-size;
    color: $color;
    font-weight: 700;
  }
}

@mixin message($bk, $color) {
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  top: 100px;
  right: 30px;
  opacity: 1;
  transition: opacity 0.5s;
  display: flex;
  color: $color;
  background-color: $bk;
}

@mixin button($width: 100px, $fs: 1rem) {
  width: $width;
  outline: none;
  padding: 10px;
  color: $color-light;
  border: none;
  @include grayShadow;
  border-radius: 20px;
  font-size: $fs;
  @include bc-fone;
  margin: 10px;
  box-sizing: border-box;

  &:hover {
    @include bc-fone-rev;
  }
  &:active {
    transform: scale(0.99);
  }
}

@mixin but($width: 200px, $height: 30px, $padding: 10px) {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: $width;
  height: $height;
  outline: none;
  padding: $padding;
  color: $color-light;
  border: none;
  @include grayShadow;
  border-radius: 3px;
  font-size: 1rem;
  @include bc-fone;
  margin: 0 20px;
  box-sizing: border-box;

  &:hover {
    @include bc-fone-rev;
  }
  &:active {
    transform: scale(0.99);
  }
}
@mixin but-blocked {
  cursor: not-allowed;
  background: lighten($color-dark, 40%);

  &:hover {
    background: lighten($color-dark, 40%);
  }
  &:active {
    transform: scale(1);
  }
}

@mixin link {
  display: flex;
  font-size: 1rem;
  color: $color-light;
  font-weight: 500;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  &:hover {
    background-color: $color-fone-hover;
    color: $color-light;
  }
  &:active {
    background-color: $color-light-active;
  }
}

@mixin app-input($height: 20px, $padding: 5px, $fs: 1.2rem) {
  outline: none;
  min-height: $height;
  padding: $padding;
  font-size: $fs;
  color: $color-dark;
  border-radius: 5px;
  border: 1px solid $color-light-grey;
  @include placeholder {
    font-size: 1.2rem;
  }
}
