{% extends "mainLayuot.twig" %}
{% block content %}
	<main>
		<section class="aboutMe wrapper">
			<div class="aboutMe__filter">
				<div class="aboutMe__cont">
					<div class="aboutMe__img">
						<div class="img">
							<img src="/src/img/ca9f0debaa187c2214f524d0a5d4e78b.jpg" width="300" heigth="372" alt=""/>
						</div>
					</div>
					<section class="aboutMe__desc">
						<h1>Alexander Plotnikov_</h1>
						<p class="status">Frontend/backend developer</p>
						<div class="contacts">
							<div class="fone">
								<span class="title">Phone:</span>
								<span class="value">+79242521756</span>
							</div>
							<div class="email">
								<span class="title">Email:</span>
								<span class="value">lotos_toi@mail.ru</span>
							</div>
						</div>
						<div class="sotsseti">
							<a href="#">
								<i class="fa fa-github" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-facebook-official" aria-hidden="true"></i>
							</a>
						</div>
					</section>
				</div>
			</div>
		</section>
		<section class="hello wrapper">
			<div class="hello__cont">
				<h3 class="hello__title">Привет_</h3>
				<p class="hello__text">
					Всем привет! Меня зовут Александр Плотников, и я приветствую вас на своём персональном сайте!
				</p>
				<p class="hello__text">
					Здесь Вы можете найти информацию обо мне, посмотреть моё портфолио как веб-разработчика, а также почитать или
										          добавить отзывы.
				</p>
				<p class="hello__text">
					В настоящее время я заканчиваю обучение на факультете веб-разработки в онлайн школе Geek Brains. Также являюсь
										          наставником для студентов по таким направлениям как js, node.js, php и html&css.
				</p>
				<p class="hello__text">
					Надеюсь вам тут понравиться!
				</p>
				<p class="hello__message">
					На данный момент работа над сайтом не завершена, поэтому возможны баги, а также часть функционала пока не
										          работает…
				</p>
			</div>
		</section>
		<script src="/src/js/smoothScroll.js"></script>
		<script src="/src/js/functions.js"></script>
		<script src="/src/js/header.js"></script>
	</main>
{% endblock %}
