<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<title>Document</title>
		<link href="/src/css/main.css" rel="stylesheet">
		<link href="/src/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	</head>

	<body>
		{% block header %}{% endblock %}
		{% block content %}{% endblock %}
		{% block footer %}{% endblock %}
		<script src="/src/js/smoothScroll.js"></script>
		<script src="/src/js/header.js"></script>
			
	</body>

</html>
