{% extends "layout.twig" %}

{% block header %}
	<header class="wrapper header modif">
		<div class="header__cont modif">
			<nav class="header__nav">
				<div class="on-of">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</div>
				<div class="menu">
					<a href="/" class="modif">Главная</a>
					<a href="/resume" class="modif">Резюме</a>
					<a href="/work" class="modif">Портфолио</a>
					<a href="/reviews" class="modif">Отзывы</a>
					<a href="#contacts" class="modif">Контакты</a>
				</div>
			</nav>
			<div class="header__login">
				{% if not user %}
					<a href="/authorization/enter" data-id="entre" class="modif">Войти</a>
				{% else %}
					<a href="/authorization/logout" data-id="user" class="modif">{{user}}</a>
				{% endif %}
			</div>
		</div>
	</header>
{% endblock %}
{% block footer %}
	<footer class="footer wrapper" id="contacts">
		<div class="footer__filter">
			<div class="footer__cont">
				<h3 class="footer__title">Мои контакты_</h3>
				<div class="footer__body">
					<div class="footer__contacts">
						<div>
							<div class="field">
								<span class="field__title">Телефон:</span>
								<span class="field__content">89242521756</span>
							</div>
							<div class="field">
								<span class="field__title">Телеграм:</span>
								<span class="field__content">89242521756</span>
							</div>
							<div class="field">
								<span class="field__title">What's app:</span>
								<span class="field__content">89242521756</span>
							</div>
							<div class="field">
								<span class="field__title">Discord:</span>
								<span class="field__content">89242521756</span>
							</div>
						</div>
						<div class="social">
							<a href="https://www.facebook.com/lotos.toi" target="_blank">Facebook</a>
							<a href="https://www.instagram.com/llottoss/" target="_blank">Instagram</a>
							<a href="https://github.com/lotostoi/" target="_blank">GitHub</a>
						</div>
					</div>
					<form class="footer__form" id="footerForm">
						<p class="footer__form-success block" data-result="saccess">Ваше сообщение успешно отправленно, мы свяжемся с вами в ближайшее время...</p>
						<p class="footer__form-error block" data-result="error">При отправке сообщения возникала ошибка, повторите попытку позже...</p>
						<h4>Форма обратной связи_</h4>
						<input type="text" name="name" placeholder="Ваше имя">
						<small class="errorMessage block" data-name="name">Минимальная длина имени 3 символа</small>
						<input type="email" name="email" placeholder="Вашь e-mail">
						<small class="errorMessage block" data-name="email">Не коректный email адрес</small>
						<textarea name="message" cols="30" rows="10" placeholder="Текст сообщения"></textarea>
						<small class="errorMessage block" data-name="message">Минимальная длина сообщения 3 символа</small>
						<button class="sendMessage">
							<div class="lds-ring block">
								<div></div>
								<div></div>
								<div></div>
								<div></div>
							</div>
							<span class="title">Отправить</span>
						</button>
					</form>
				</div>
				<p class="rights">©<?= date('Y') ?>Александр Плотников. Все права защищены.</p>
			</div>
		</div>
		<script src="/src/js/form.js"></script>
	</footer>
{% endblock %}
