{% extends "mainLayuot.twig" %}
{% block content %}
	<section class="p404">
		<header class="header404"></header>
		<div class="message">
			<h1>404</h1>
			<p class="mess">
				Страница "{{message}}" - не найдена</p>
		</div>
		<script src="/src/js/smoothScroll.js"></script>
		<script src="/src/js/header.js"></script>
	</section>

{% endblock %}
