{% extends "mainLayuot.twig" %}
{% block content %}
	<section class="common wrapper">
		<div class="common-header__fone">
			<div class="common-header__cont">
				<h1 class="common-header__h1">Личный кабинет_</h1>
			</div>
		</div>
		<div class="common-body">
			<div class="auth-enter">
				<div class="person-area" id="enter">
					<p class="title">Вход через социальные сети:</p>
					<div class="social-network">
						<div class="list">
							<form action="/authorization/enterVK" method="POST">
								<input type="hidden" name="start" value="1">
								<input type="hidden" name="save_sn" value="1" id="vk_save">
								<input type="hidden" name="redirect" value="authorization/logout">
								<button type="submit" name="sn" value="vk" method="POST">
									<i class="fa fa-vk" aria-hidden="true"></i>
								</button>
							</form>
							<form action="/authorization/enterFB" method="POST">
								<input type="hidden" name="start" value="1">
								<input type="hidden" name="redirect" value="authorization/logout">
								<input type="hidden" name="save_sn" value="1" id="fb_save">
								<button type="submit" name="sn" value="fb">
									<i class="fa fa-facebook-square" aria-hidden="true"></i>
								</button>
							</form>
						</div>
						<label class="save">
							<p>Запомнить_:</p>
							<input type="checkbox" name="save_sn" checked id="checked_network"/>
						</label>
					</div>

					<hr/>
					<form action="/authorization/auth" class="site" method="POST">
						<p class="title">Вход через сайт:</p>
						<label class="login">
							<p class="title-small">Введите логин или email_</p>
							<input type="text" name="login" placeholder="Введите логин или email..."/>
							{% if error %}
								<p class="message">{{error}}</p>
							{% endif %}
						</label>
						<label class="pass">
							<p class="title-small">Введите пароль_</p>
							<input type="password" name="password" placeholder="Введите пароль..."/>
							{% if error %}
								<p class="message">{{error}}</p>
							{% endif %}
						</label>
						{# <a href="/auth/reg" class="a-reg">Если вы еще не зарегистрированы, вам сюда</a> #}
						<label class="save">
							<p>Запомнить_:</p>
							<input type="hidden" name="redirect" value="authorization/logout">
							<input type="checkbox" name="save" checked/>
							<input type="hidden" name="action" value="enter"/>
						</label>
						<button name="sn" value="site">Войти</button>
					</form>

				</div>
			</div>
		</div>
		<script src="/src/js/smoothScroll.js"></script>
		<script src="/src/js/functions.js"></script>
		<script src="/src/js/header.js"></script>
		<script src="/src/js/server.js"></script>
		<script src="/src/js/sosialNetworks.js"></script>
	
	</section>

{% endblock %}
